
Writing/Problemformulering/main.synctex.gz
Writing/Problemformulering/main.aux
Writing/Problemformulering/main.bcf
Writing/Problemformulering/main.log
Writing/Problemformulering/main.run.xml
Writing/Problemformulering/main.pdf
Writing/Problemformulering/main.bbl
Writing/Problemformulering/main-blx.bib
Writing/Problemformulering/main.blg
Writing/Problemformulering/acronyms.aux
Writing/Problemformulering/acronyms.aux
Writing/Problemformulering/main.glsdefs
Writing/MainProject/document.log
Writing/MainProject/document.pdf
Writing/MainProject/document.aux
Writing/MainProject/document.synctex.gz
Writing/Meetings/first.synctex.gz
Writing/Meetings/first.run.xml
Writing/Meetings/first.pdf
Writing/Meetings/first.log
/Writing/Meetings
*.bin
*.v2
*.vsidx
Code/REPS/.vs/REPS/v17/DocumentLayout.backup.json
Code/REPS/.vs/REPS/v17/DocumentLayout.json
Code/REPS/.vs/REPS/v17/.suo
*.cache
*.editorconfig
Code/REPS/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Code/REPS/obj/Debug/net9.0/REPS.AssemblyInfo.cs
Code/REPS/obj/Debug/net9.0/REPS.GlobalUsings.g.cs
Code/REPS/obj/project.assets.json
Code/REPS/obj/REPS.csproj.nuget.dgspec.json
Code/REPS/obj/REPS.csproj.nuget.g.props
*.targets
Code/REPS/Properties/launchSettings.json
*.csproj
Code/REPS/REPS.csproj.user
Code/REPS/REPS.sln
Code/Broker/Broker.csproj.user
Code/Broker/.vs/Broker/v17/DocumentLayout.backup.json
Code/Broker/.vs/Broker/v17/DocumentLayout.json
/Code/REPS/bin/Debug/net9.0/pt-BR
/Code/REPS/bin/Debug/net9.0/pl
/Code/REPS/bin/Debug/net9.0/cs
/Code/REPS/bin/Debug/net9.0/de
/Code/REPS/bin/Debug/net9.0/es
/Code/REPS/bin/Debug/net9.0/fr
/Code/REPS/bin/Debug/net9.0/it
/Code/REPS/bin/Debug/net9.0/ja
/Code/REPS/bin/Debug/net9.0/ko
/Code/REPS/bin/Debug/net9.0
*.exe
/Code/REPS/obj/Debug/net9.0/ref
/Code/REPS/obj/Debug/net9.0/refint
Code/REPS/obj/Debug/net9.0/REPS.csproj.BuildWithSkipAnalyzers
Code/REPS/obj/Debug/net9.0/REPS.csproj.FileListAbsolute.txt
Code/REPS/obj/Debug/net9.0/REPS.csproj.Up2Date
Code/REPS/obj/Debug/net9.0/REPS.pdb
Code/REPS/obj/Debug/net9.0/REPS.sourcelink.json
