
Writing/Problemformulering/main.synctex.gz
Writing/Problemformulering/main.aux
Writing/Problemformulering/main.bcf
Writing/Problemformulering/main.log
Writing/Problemformulering/main.run.xml
Writing/Problemformulering/main.pdf
Writing/Problemformulering/main.bbl
Writing/Problemformulering/main-blx.bib
Writing/Problemformulering/main.blg
Writing/Problemformulering/acronyms.aux
Writing/Problemformulering/acronyms.aux
Writing/Problemformulering/main.glsdefs
Writing/MainProject/document.log
Writing/MainProject/document.pdf
Writing/MainProject/document.aux
Writing/MainProject/document.synctex.gz
Writing/Meetings/first.synctex.gz
Writing/Meetings/first.run.xml
Writing/Meetings/first.pdf
Writing/Meetings/first.log
/Writing/Meetings
*.bin
*.v2
*.vsidx
Code/REPS/.vs/REPS/v17/DocumentLayout.backup.json
Code/REPS/.vs/REPS/v17/DocumentLayout.json
Code/REPS/.vs/REPS/v17/.suo
*.cache
*.editorconfig
Code/REPS/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Code/REPS/obj/Debug/net9.0/REPS.AssemblyInfo.cs
Code/REPS/obj/Debug/net9.0/REPS.GlobalUsings.g.cs
Code/REPS/obj/project.assets.json
Code/REPS/obj/REPS.csproj.nuget.dgspec.json
Code/REPS/obj/REPS.csproj.nuget.g.props
*.targets
Code/REPS/Properties/launchSettings.json
*.csproj
Code/REPS/REPS.csproj.user
Code/REPS/REPS.sln
