
Writing/Problemformulering/main.synctex.gz
Writing/Problemformulering/main.aux
Writing/Problemformulering/main.bcf
Writing/Problemformulering/main.log
Writing/Problemformulering/main.run.xml
Writing/Problemformulering/main.pdf
